body{

    font-family:Arial;
    background:#f4f4f4;
    margin:30px;

}

h1{

    margin-bottom:30px;

}

.contenedor{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;

}

.tarjeta{

    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    text-align:center;

}

.numero{

    font-size:40px;
    font-weight:bold;
    margin-top:15px;

}

.menu{

    margin-top:40px;

}

.menu a{

    text-decoration:none;
    margin-right:10px;

}

button{

    padding:10px 20px;
    cursor:pointer;

}
