body{

    font-family: Arial;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.caja_iniciar_sesion{

    width:350px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);

}

h1{

    text-align:center;

}

input{

    width:100%;
    padding:10px;
    margin-top:10px;
    box-sizing:border-box;

}

button{

    width:100%;
    padding:10px;
    margin-top:20px;
    background:#111;
    color:white;
    border:none;
    cursor:pointer;

}

button:hover{

    background:#333;

}

.mensaje_error{

    color:red;
    text-align:center;
    margin-bottom:15px;

}

.seccion_crear_cuenta{

    text-align:center;
    margin-top:20px;

}

a{

    text-decoration:none;

}
